body
{
    font-family: 'Cabin';
    font-size: 120%;;
}

[class^="grid"] > *
{
    background-color: rgb(66, 66, 211);
    color: white;
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 0.5em;
}

body > div
{
    margin-bottom: 64px;
}

/*
    task 1
*/
.grid-1
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


/*
    task 2
*/
.grid-2
{
    display: grid;
    grid-template-columns: repeat(11, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(100px, 1fr));
}

.first-div
{
    grid-column: 1 / 6;
    grid-row: 1 / 3;
    background-color:rgb(49, 49, 217, 0.5);
}

.second-div
{
    grid-column: 3 / 8;
    grid-row: 2 / 4;
    background-color:rgba(66, 66, 125, 0.5);
}

/*
    task 3
*/
.grid-3
{
    display: grid;
    grid-template-areas:
        "one one"
        "two three"
        ". four";
    grid-template-columns: 1fr 2fr;
    gap: 14px;
}

.one
{
    grid-area: one;
}

.two
{
    grid-area: two;
}

.three
{
    grid-area: three;
}

.four
{
    grid-area: four;
}