h1
{
    color:darkgray;
}

p,
li
{
    color: green;
}

li
{
    list-style-type: square;
}

li.special,
span.special
{
    color: orange;
    font-weight: bold;
    font-size: 140%;
}

p em
{
    color: rgb(133, 58, 74);
    font-weight: bold;
}

h1 + p
{
    font-size: 350%;
}


a:hover
{
    text-decoration: underline dotted;
}

article p span
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
}

h1 + p + p + article + ul
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
}

p + article p
{
    background-color: black;
    color: white;
}

p.special
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 120%;
}

.outer
{
    border: 10px solid black;
}

.box
{
    padding: 5px;
    width: calc(60% + 125px);
    background-image: linear-gradient(rgba(0, 0, 255, 0.6), rgba(255, 225, 0, 0.8));
    color: white;
    transform: rotate(0.99turn) scale(0.9, 1.1);
}


/*
    Style the background of the document

*/
body
{
    background: rgb(231, 221, 221) url(../images/bg-graphic.png) 10px 500px repeat-x fixed;
}


@media (max-width: 600px)
{
    body
    {
        background-color: blue;
    }
}

/*
    Style newer browsers while keeping style for old ones
*/

.outer
{
    width: 1000px;
    width: calc(50%+200px);
}